body {
  background-image: linear-gradient(#EAE1CD,#9E745B);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#link {
  border: solid 2px white;
  background-color:rgba(225,225,225,0.25);
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 15px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#title {
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
}

#information_block {
  border: dashed 2px white;
  display: inline-block;
  padding: 30px;
  margin: 30px;
  width: 35vw;
}

#partner_paragrpah {
  border: solid 2px white;
  background-color:rgba(225,225,225,0.25);
  height: 600px;
  padding: 20px;
  overflow: scroll;
}

p {
  color: white;
  font-size: 20px;
  line-height: 2em;
}

#image {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 230px;
  border: solid 2px white;
  padding: 15px;
  z-index: 10;
}

img {
  border: solid 2px white;
  width: 600px;
}

#background_block {
  background-color:rgba(225,225,225,0.25);
  top: 500px;
  width: 50vw;
  height: 300px;
  right: 0px;
  position: absolute;
  z-index: -10px;
}

#background_block2 {
  background-color:rgba(255,255,255,0.25);
  top: 750px;
  width: 30vw;
  height: 100px;
  right: 0px;
  position: absolute;
  z-index: -5px;
}
